.container .accent {
    font-size: 75pt;
    letter-spacing: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

.container .extraInfo {
  color: var(--sub-color);
}

.container .accent span:hover {
    color: var(--sub-color);
    transition: all 0.2s ease-out;
}
.container .accent span {
    position: relative;
    color: var(--text-color);
}
.container .accent span:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: transform 0.25s ease-out;
}

.container .accent span:hover:after {
  transform: scaleX(1);
}

.container .accent .right:after {
  transform-origin: bottom left;
}
.container .accent .right:hover:after {
  transform-origin: bottom right;
}

.container .accent .left:after {
  transform-origin: bottom right;
}
.container .accent .left:hover:after {
  transform-origin: bottom left;
}