@import url('./variables.css');
@import url('accent.css');

.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu {
    /* margin-top: 50px; */
    padding: 50px 10%;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    place-items: center;
}

 .newBtn {
    color: var(--main-color);
    grid-column: span 2;
}