.container {
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--bg-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu {
    /* margin-top: 50px; */
    padding: 50px 10%;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: max-content;
    grid-gap: 10px;
    place-items: center;
}

 .newBtn {
    color: var(--main-color);
    grid-column: span 3;
}

.isUniqueBtn {
    grid-column: span 0;
}

@media (max-width: 991px) {
	.menu {
		grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
		grid-template-rows: minmax(auto, auto);
	}
    .newBtn {
        grid-column: span 1;
    }
}