header {
    position: absolute;
    width: 100%;
    padding: 25px 0;
    z-index: 100;
}

header h2 {
    cursor:context-menu;
  color: var(--error-color);
  font-size: 30pt;
  margin-left: 25px;
}

header h2 span {
  color: var(--main-color);
}