.history {
    position: fixed;
    z-index: 100;
    right: 0px;
    width: calc(15vw);
    min-width: 150px;
    max-height: 100%;
    overflow-Y: scroll;
    padding-top: 15px;
    text-align: center;
    background-color: var(--bg-color);
    border-radius: 0 0 .5em .5em;
    word-wrap: wrap;
}

.history::-webkit-scrollbar {
    display: none;
}

.history .word {
    position: relative;
    border-bottom: 1px solid var(--sub-color);
    text-align: center;
    margin-top: 25px;
    animation: 0.3s cubic-bezier(.27,1.22,.34,1.24) reveal;
}

@keyframes reveal {
    from {
        transform: translateY(100%);
        opacity: 0.5;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}