@import url('./variables.css');
@import url('./container.css');

body {
    background-color: var(--bg-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-out;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}