@import url('./variables.css');
@import url('./container.css');
@import url('./statistics.css');
@import url('./header.css');
@import url('./historyList.css');

body {
    background-color: var(--bg-color);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .1s ease-out;
}

.unselectable {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

button {
    color: var(--text-color); 
    font-size: 15pt;
    background-color: var(--sub-alt-color);
    border: none;
    padding: 15px;
    min-width: 50px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color);
    color: var(--sub-alt-color);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--sub-color);
  transition: 0.125s;
  border-radius: 2px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color);
}

::-webkit-scrollbar-thumb:active {
  background: var(--main-color);
}

::-webkit-scrollbar-corner {
  background: var(--sub-color);
}